.login-wrapper {
  width: 100vw;
  max-width: 1144px;
}

.image-container, .input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.image-container {
  gap: 4.3rem
}

.input-container {
  gap: 2rem
}

img {
  width: 41.8rem;
}

a {
  font-size: var(--p-large);
  font-weight: 500;
}

@media (max-width: 1104px) {
  .login-wrapper {
    flex-direction: column;
    gap: 4rem
  }
}
