.wrapper {
  height: 100vh;
  margin: 0 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container, .input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.image-container {
  gap: 4.3rem
}

.input-container {
  gap: 2rem
}

img {
  width: 41.8rem;
}
