.wrapper {
  margin: 0 14rem;
}

.image-container, .input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.image-container {
  gap: 4.3rem
}

.input-container {
  gap: 2rem
}

img {
  width: 41.8rem;
}

a {
  font-size: var(--p-large);
  font-weight: 500;
}
