.details-wrapper {
  flex-direction: column;
  gap: 2.5rem;
  width: 55.3rem;
  margin: 0 auto;
}

.quiz-image {
  width: 55.3rem;
}

.quiz-details {
  width: 100%;
}

.quiz-image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.back-button {
  position: fixed;
  margin: 36px 75px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 48px;
  height: 48px;
}

.back-button > img {
  width: 100%;
}
