.details-wrapper {
  flex-direction: column;
  gap: 2.5rem;
  margin: 0 auto;
}

.details-wrapper > * {
  width: 55.3rem;
}

.quiz-image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.quiz-image {
  width: 100%;
}

