.card-button {
  border: none;
  background: none;
}

.card-wrapper {
  flex-direction: column;
  width: 55.2rem;
  height: 100%;
  border: 1px solid var(--ink-gray);
  border-radius: 0.8rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card-image-container, .card-image {
  background-color: var(--ink-light-gray);
  border-radius: 8px 8px 0 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.card-image-container > *{
  position: absolute;
}

.card-image {
  position: relative;
}

.difficulty {
  width: 7.2rem;
  height: 2.4rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 1.2rem;
  color: var(--ink-white);
  margin: 0.8rem 1.6rem;
}

.card-text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.4rem;
  padding: 1.6rem;
}

.card-text-container > * {
  padding: 0 0.8rem;
}

.answered-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.answered-date {
  color: var(--ink-dark-gray)
}
