.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.input-field {
  width: var(--default-input-width);
  height: var(--default-input-height);
  padding: 1.47rem;
  border-radius: var(--p-small);
  border: 1px solid var(--ink-gray)
}

.input-field:focus {
  outline: none;
}

::placeholder {
  color: var(--ink-dark-gray);
  opacity: 0.8;
  font-size: var(--p-large)
}

.search-input {
  width: 40rem;
}

.button-input-icon {
  display: flex;
  height: 24px;
  background-color: transparent;
  border: none;
  margin: 0 var(--p-large)
}

.button-input-icon:hover {
  cursor: pointer;
}

.input-icon, .button-input-icon {
  position: absolute;
  width: 24px;
}

