input {
  width: 80%;
  height: 5.3rem;
  padding: 1.6rem;
  border-radius: 1.6rem;
  border: 1px solid #BEBAB3
}

input:focus {
  outline: none;
}

::placeholder {
  color: #78746D;
  opacity: 0.8;
}
