.header-wrapper {
  height: 12rem;
  width: 100%;
  max-width: 1144px;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 0 2.6rem 0
}

.header-options {
  display: flex;
  justify-content: center;
  gap: 3rem
}

.header-options > a, .header-options > p {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}
