.home-wrapper {
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;
}

.header-container {
  width: 100%;
  border-bottom: 1px solid var(--ink-gray);
  display: flex;
  justify-content: center;
}

.cards-container {
  width: 100%;
  max-width: 1144px;
  padding: 4.8rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(552px, 1fr));
  gap: 4rem;
}

@media (max-width: 1144px) {
  .cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

